# Bài 6. Các thao tác trên hàng và cột của DataFrame

In [23]:
import pandas as pd

# Create a dataframe from a list
rank = [['MIT', 45, 6000], ["stanford", 34, 7000], ["HUST", 65, 5000], ["NEU", 51, 3000]]

rank_df = pd.DataFrame(rank)

rank_df

          0   1     2
0       MIT  45  6000
1  stanford  34  7000
2      HUST  65  5000
3       NEU  51  3000

## 1. Tổng kết về các thao tác trên columns và index (rows) của DataFrame.

### 1.1. Truy cập vào cột của DataFrame

Mặc định **label** của columns và index (rows) là các số nguyên (0, 1, 2,...)

Trong trường hợp này ta chỉ có thể truy cập vào column bằng duy nhất một cách:
- df.[int] ứng với cột tương ứng
- NOTE: không dùng được slicing nếu dùng df[int: int] sẽ lấy các hàng tương ứng

Khi ta set 'label' cho các columns, cách trên không dùng được nữa mà chỉ có thể truy cập bằng 2 cách:
- df['name'] 
- df.name

### 1.2. 

Mặc định **label** của index là các số nguyên (0, 1, 2,...)

Ta chỉ có thể truy cập vào các index thông qua `iloc`, `loc`, `ix`:

In [24]:
rank_df[0]

0         MIT
1    stanford
2        HUST
3         NEU
Name: 0, dtype: object

## 1. Chọn (Selecting), Gán (setting), Xóa (deleting)

### 1.1 Selecting
Có hai cách để truy cập cột của DataFrame. Kết quả là một pd.Series:

In [16]:
rank_df[0:2]

        one  two  three
0       MIT   45   6000
1  stanford   34   7000

In [17]:
rank_df.columns = ['one', 'two', 'three']

rank_df

          1   2     3
0       MIT  45  6000
1  stanford  34  7000
2      HUST  65  5000
3       NEU  51  3000

In [21]:
# throw an errow, bởi vì '0' không còn là label của columns nữa
# rank_df[0]

          1   2     3
1  stanford  34  7000
2      HUST  65  5000

In [8]:
# cách 1:
rank_df['one']

0         MIT
1    stanford
2        HUST
3         NEU
Name: one, dtype: object

In [11]:
# cách 2: phải đúng với label đặt cho columns
rank_df.one

0         MIT
1    stanford
2        HUST
3         NEU
Name: one, dtype: object

###