# Bài 7: `.loc`, `.iloc`, `.ix`

`.iloc` `.loc` và `.ix` là các phương thức để truy vấn dữ liệu hàng và cột từ Pandas DataFrames.

1. `.iloc` giúp selecting hàng và cột qua các row và column numbers tương tự như Numpy


2. `.loc` giúp selecting hàng và cột theo 2 cách:

    - Qua **label** of row and columns
    - Qua [boolean/conditional lookup](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html)

In [47]:
import pandas as pd

crimes_rates = {
    "Year": [1960, 1961, 1962, 1963, 1964],
    "Population": [1793, 18290, 1857, 1884, 1911],
    "Total": [338, 348, 375, 410, 456],
    "Violent": [288, 289, 301, 316, 364]
}

crimes_df = pd.DataFrame(crimes_rates)

crimes_df

   Year  Population  Total  Violent
0  1960        1793    338      288
1  1961       18290    348      289
2  1962        1857    375      301
3  1963        1884    410      316
4  1964        1911    456      364

## 7.1. `.iloc`

`df.iloc[<row selection>, <column selection>]` tương tự như `ndarray`

`df.iloc` không làm việc với **label**

In [39]:
# Select a row
crimes_df.iloc[1]

Year           1961
Population    18290
Total           348
Violent         289
Name: 1, dtype: int64

In [50]:
crimes_df.iloc[3:]

   Year  Population  Total  Violent
3  1963        1884    410      316
4  1964        1911    456      364

In [60]:
crimes_df.iloc[[2, 1]]

   Year  Population  Total  Violent
2  1962        1857    375      301
1  1961       18290    348      289

In [40]:
crimes_df.iloc[3, 2]

410

In [42]:
crimes_df.iloc[1:3, :2]

   Year  Population
1  1961       18290
2  1962        1857

In [61]:
crimes_df.iloc[[4, 2], [3, 0, 1]]

   Violent  Year  Population
4      364  1964        1911
2      301  1962        1857

## 7.2. `.loc`

`.loc` chỉ làm việc với **label**. Khi chưa có **label**, `.loc` sẽ coi row và column numbers là **label**

In [53]:
test_loc = {
    "year": [1960, 1961, 1962, 1963, 1964],
    "population": [1793, 18290, 1857, 1884, 1911],
    "total": [338, 348, 375, 410, 456],
    "violent": [288, 289, 301, 316, 364]
}

ordinals = ["first", "second", "third", "fourth", "fifth"]

test_df = pd.DataFrame(test_loc, index=ordinals)

test_df

        year  population  total  violent
first   1960        1793    338      288
second  1961       18290    348      289
third   1962        1857    375      301
fourth  1963        1884    410      316
fifth   1964        1911    456      364

In [23]:
test_df.loc['first']

year          1960
Population    1793
Total          338
Violent        288
Name: first, dtype: int64

In [59]:
test_df.loc[['first', 'fifth'], :]

       year  population  total  violent
first  1960        1793    338      288
fifth  1964        1911    456      364

Với `.loc` ta có thể truyền vào **boolean/conditional lookup** (Boolean filter vector). Bằng cách đó ta có thể lọc được các hàng thỏa mãn điều kiện nào đó.

In [55]:
test_df.loc[test_df.year > 1962]

        year  population  total  violent
fourth  1963        1884    410      316
fifth   1964        1911    456      364